Flask
gunicorn
openai
requests
python-dotenv
python-dotenv
pyarabic
transliterate
transformers
huggingface_hub
redis
Flask-SQLAlchemy
psycopg2
Flask-SocketIO
eventlet
SpeechRecognition
python-socketio
python-engineio
psycopg2-binary
